<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        {% if page.url == "/" %}
            <title>{{site.title}}</title>
            {% seo title=false %}
        {% else %}
            {% seo %}
        {% endif %}
        <title>{{site.title}}</title>

        <meta name="apple-mobile-web-app-title" content="Dave Berning">
        <meta name="google-site-verification" content="FclbdJbPViHiJeG6WPgahHBOp3GZ_kg_1XQgI4WByC8" />

        <link rel="apple-touch-icon" sizes="57x57" href="{{site.url}}/images/app-icons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="{{site.url}}/images/app-icons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{site.url}}/images/app-icons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{{site.url}}/images/app-icons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{site.url}}/images/app-icons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{{site.url}}/images/app-icons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{{site.url}}/images/app-icons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{{site.url}}/images/app-icons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/images/app-icons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{site.url}}/images/app-icons/android-icon-192x192.png">
        <link rel="icon" type="image/x-icon" href="{{site.url}}/favicon.ico" />
        <link rel="manifest" href="{{site.url}}/images/app-icons/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{site.url}}/images/app-icons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{site.url}}/css/styles.css">
    </head>
