<header>
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <div>
                    <a href="{{site.url}}/"><img class="logo" src="{{site.companyLogo}}"></a>
                </div>
            </div>
            <div class="col-xs-10">
                <nav>
                    <ul>
                        <li>
                            <a href="{{site.url}}#about"><span class="visible-xs">
                                <i class="material-icons">person</i>
                                <br></span>Item #1
                            </a>
                        </li>

                        <li>
                            <a href="{{site.url}}/work/"><span class="visible-xs">
                                <i class="material-icons">work</i>
                                <br></span>Item #2
                            </a>
                        </li>

                        <li>
                            <a href="{{site.url}}/blog/"><span class="visible-xs">
                                <i class="material-icons">rss_feed</i>
                                <br></span>Item #3
                            </a>
                        </li>

                        <li>
                            <a href="{{site.url}}/connect/">
                                <span class="visible-xs">
                                    <i class="material-icons">mail</i>
                                    <br>
                                </span>Item #3
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div><!-- container-fluid -->
</header>
