<!-- fb -->
<a class="color-white transition" href="https://www.facebook.com/sharer/sharer.php?t={{page.title}}&u={{url}}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-square"></i></a>

<!-- twitter WORKS -->
<a class="color-white transition" href="http://twitter.com/share?text={{page.title}}&url={{site.url}}{{page.url}}&via=daveberning&related=daveberning" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter-square"></i></a>

<!-- google plus -->
<a class="color-white transition" href="https://plus.google.com/share?url={{site.url}}{{page.url}}" rel="nofollow" target="_blank" title="Share on Google+"><i class="fa fa-google-plus-square"></i></a>

<!-- linkedin WORKS -->
<a class="color-white transition"  href="http://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}&title={{page.title}}&summary={{page.description}}&source={{site.url}}" rel="nofollow" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin-square"></i></a>

<!-- reddit WORKS -->
<a class="color-white transition" href="http://www.reddit.com/submit?url={{site.url}}{{page.url}}&title={{page.title}}" rel="nofollow" target="_blank" title="Share Reddit"><i class="fa fa-reddit-square"></i></a>
