/* BASE STYLES */

/* MISC
--------------------------------*/
*  {
    box-sizing: border-box;
}

.gutter-top {
    margin-top: 15px;
}

.gutter-bottom {
    margin-bottom: 15px;
}

.muted {
    color: lighten($black, 15%);
}

.vertically-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.height-100 {
    height: 100%;
}

.height-50 {
    height: 50%;
}

.transition {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.transition:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

img {
    border-radius: 2px;
}

/* BUTTONS
-----------------------------*/
.btn,
.btn:hover {
    background: none;
    border-radius: 2px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-lg {
    padding: 15px 0;
}

.btn-primary {
    background: $primary;
    color: $white;
    border: 2px solid $primary;

    &:hover,
    &:active,
    &:focus {
        background: darken($primary, 15%);
        border: 2px solid darken($primary, 15%);
    }
}

.btn-secondary {
    background: $secondary;
    color: $black;
    border: 2px solid $secondary;

    &:hover,
    &:active,
    &:focus {
        background: darken($secondary, 15%);
        border: 2px solid darken($secondary, 15%);
    }
}

.btn-tertiary {
    background: $tertiary;
    color: $black;
    border: 2px solid $tertiary;

    &:hover,
    &:active,
    &:focus {
        background: darken($tertiary, 15%);
        border: 2px solid darken($tertiary, 15%);
    }
}

.btn-cta,
.btn-accent {
    background: $cta;
    color: $black;
    border: 2px solid $cta;

    &:hover,
    &:active,
    &:focus {
        background: darken($cta, 15%);
        border: 2px solid darken($cta, 15%);
    }
}

.btn-secondary {
    background: #858585;
    color: #fff;
    border: 2px solid #858585;
}

.gutter-none {
    padding: 0 !important;
    margin: 0 !important;
}

.img-responsive {
    width: 100%;
}

/* FONTS & ICONS
------------------------------------*/
.color-white {
    color: $white;
}

a.color-white:hover {
    color: darken($white, 20%);
}

.material-icons {
    vertical-align: middle !important;
}

.social {
    text-align: center;

    li {
        display: inline;
        margin-left: .5rem;
    }

    a {
        color: $black;
        font-size: 2.5rem;
    }

    li:last-child {
        margin-right: 0;
    }
}

.link-hover a {
	padding: 8px 0;
}

.link-hover a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgba(0,0,0,0.1);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}

.link-hover.color-White a::after {
    background: rgba(255,255,255,0.1);
}

.link-hover a:hover::after,
.link-hover a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

/* CONTENT ELEMENTS
----------------------------------*/
.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}

.table {
  display: table;

  &.vertical-center {
    height: 100vh;
  }

  .table-cell {
      display: table-cell;
      vertical-align: middle;
  }
}
.cta-bar {
    text-align: center;
    background: $primary !important;
    color: $white;

    a {
        color: $white;
        text-decoration: underline;
    }
}

.cta-bar {
    padding: 5rem 0;
}

.section:nth-child(even) {
    background: $white;
}

.section:nth-child(odd) {
    background: #f2f2f2;
}

.section {
    padding: 8rem 0;
}

form>div {
    margin-bottom: 0 !important;
}
