/* fonts
--------------------------*/
$oswald: 'Oswald', sans-serif;
$lato: 'Lato', sans-serif;

/* colors
--------------------------*/
$primary: #356a7a;
$primary-lgt: lighten($primary, 20%);
$black: #252525;
$white: #fff;
