{% include head.html %}

  <body>

    {% include header.html %}

    <div class="hero standard">
        <div class="container-fluid">
            <div class='blurImg'>
                <div class="blur" style="background: url('{{site.imagesURL}}{{page.backgroundImage}}') no-repeat center center"></div>
            </div>

            <div class="row">
                <h1 class="text-center color-white">My Thoughts for You To Read</h1>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    {% for post in paginator.posts %}
                        <div class="post">
                            <h2><a href="{{site.url}}/{{post.slug}}">{{post.title}}</a></h2>

                            <div class="date">
                                <i class="material-icons">&#xE878;</i>
                                {{ post.date | date: '%B %d, %Y' | prepend: '<p class="muted">' | append: '</p>' }}
                            </div>

                            {{ post.excerpt }}
                        </div><!-- end post -->
                    {% endfor %}

                    {% if paginator.total_pages > 1 %}
                    <div class="pagination">
                        {% if paginator.previous_page %}
                            <a class="paginate-arrows" href="{{ paginator.previous_page_path | prepend: site.url | replace: '//', '/' }}"><i class="fa fa-chevron-left"></i></a>
                        {% endif %}

                        {% for page in (1..paginator.total_pages) %}
                            {% if page == paginator.page %}
                                <span class="page-link" >{{ page }}</span>
                            {% elsif page == 1 %}
                                <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.url | replace: '//', '/' }}">{{ page }}</a>
                            {% else %}
                                <a class="page-link" href="{{ site.paginate_path | prepend: site.url | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                            {% endif %}
                        {% endfor %}

                        {% if paginator.next_page %}
                            <a class="paginate-arrows" href="{{ paginator.next_page_path | prepend: site.url | replace: '//', '/' }}"><i class="fa fa-chevron-right"></i></a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% include footer.html %}
