{% include head.html %}

  <body>

    {% include header.html %}

    <div class="hero home">
        <div class="container-fluid height-100">
            <div class="row height-100">
                <div class="col-md-6 height-100 left">
                    <div class="vertically-center col-sm-8 col-sm-offset-2">
                        <h1 class="text-center color-white">{{site.firstName}} {{site.lastName}}<br>
                            <span>{{site.devSubCap}} {{site.location}}</span>
                        </h1>

                        <a href="{{site.url}}/connect/" class="btn btn-primary btn-block text-center gutter-top gutter-bottom btn-lg">Contact Me</a>

                        {% include social-icons.html %}
                    </div>
                </div>

                {% include featured-work.html %}
            </div>
        </div>
    </div><!-- hero -->

    <div id="about" class="section">
        <div class="container">
            <h2 class="gutter-bottom">About {{site.firstName}}</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    {{page.content}}
                </div>

                <div class="col-sm-4">
                    <img class="img-responsive" src="{{site.avatar}}" alt="{{site.firstName}} {{site.lastName}}, {{site.devSubCap}} {{site.location}}">
                </div>
            </div>
        </div>
    </div><!-- section -->

    <div class="cta-bar section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="text-left">Their Words, Not Mine</h2>
                    <div class="flexslider">
                        <ul class="slides">
                            {% assign testimonialIndex = (site.testimonials | sort: 'index') %}
                            {% for testimonial in testimonialIndex %}
                                {% assign loopindex = forloop.index | modulo: 2 %}
                                {% if loopindex == 1 %}
                                    <li>
                                        <div class="row">
                                            <div class="col-sm-6 text-left">
                                                <p class="color-white"><img src="{{site.url}}/images/open.svg" alt="open" draggable="false">
                                                    {{testimonial.content | remove: '<p>' | remove: '</p>'}}
                                                <img src="{{site.url}}/images/close.svg" alt="open" draggable="false"></p>

                                                <p class="gutter-top color-white"><img src="{{testimonial.avatar}}" width="50" height="50" alt="{{testimonial.name}}, {{testimonial.title}}" draggable="false" class="fadeInUp">
                                                    <span>{{testimonial.name}}</span><br>
                                                    {{testimonial.title}}
                                                </p>
                                            </div>
                                {% else %}
                                            <div class="col-sm-6 text-left">
                                                <p class="color-white"><img src="{{site.url}}/images/open.svg" alt="open" draggable="false">
                                                    {{testimonial.content | remove: '<p>' | remove: '</p>'}}
                                                <img src="{{site.url}}/images/close.svg" alt="open" draggable="false"></p>

                                                <p class="gutter-top color-white"><img src="{{testimonial.avatar}}" width="50" height="50" alt="{{testimonial.name}}, {{testimonial.title}}" draggable="false" class="fadeInUp">
                                                    <span>{{testimonial.name}}</span><br>
                                                    {{testimonial.title}}
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- section -->

    {% include connect.html %}

    {% include footer.html %}
