{% include head.html %}

  <body>

    {% include header.html %}

    <div class="intro table vertical-center">
        <div class="container table-cell text-center">
            <h1>Web Design. Without Limits.</h1>
            <p>We are progressive web design shop located in Cincinnati, OH, Planet Earth.</p>

            <div class="row">
                <div class="container">
                    <div class="col-sm-6 col-sm-offset-3 gutter-top">
                        <a href="#" class="btn btn-cta btn-block btn-lg">See How We Can Help</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio">
        <div class="row gutter-none">
            <div class="col-sm-6 gutter-none">
                <img class="img-responsive" src="{{site.imagesURL}}m80.jpg">
            </div>
            <div class="col-sm-6 gutter-none">
                <img class="img-responsive" src="{{site.imagesURL}}bearcast.jpg">
            </div>
        </div>
    </div>

    {% include footer.html %}
