{% include head.html %}

  <body>

    {% include header.html %}

    <div class="hero section">
        <div class="container">
            <h1 class="text-center gutter-bottom">Game Over. Link is Dead</h1>
            <div class="col-sm-4 col-sm-offset-4">
                <img class="img-responsive" style="margin: 80px 0;" src="{{site.imagesURL}}dead_link.png" alt="Dead Link">

                <div class="row gutter-top">
                    <div class="col-sm-6 gutter-bottom">
                        <a class="btn btn-block btn-lg btn-primary" href="{{site.url}}">Return Home</a>
                    </div>
                    <div class="col-sm-6">
                        <a class="btn btn-block btn-lg btn-secondary" href="{{site.url}}/work">View Work</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include footer.html %}
