{% include head.html %}

<body>

{% include header.html %}

<div class="hero" itemscope itemtype="https://schema.org/CreativeWork">
    <div class="container-fluid">
        <div class="row">
            {% assign projectIndex = (site.projects | sort: 'index') %}
            {% for project in projectIndex %}
            <div class="col-xs-12 col-sm-6 col-md-4 featured-work">
                <div class="text-center">
                    <div class="bkg" style="background: url('{{site.url}}/{{project.featuredImage}}')no-repeat center center;
                    padding-top: 70.27%;
                    background-size: cover;"></div>
                    <div class="caption">
                        <div class="cap-content">
                            <a href="{{project.slug}}" itemprop="url">
                                <span itemprop="name">{{ project.name }}</span><br>
                                {{ project.caption }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% include footer.html %}
