{% include head.html %}

  <body>

    {% include header.html %}

        <div class="hero standard">
            <div class="container-fluid">

                <div class='blurImg'>
                    <div class="blur" style="background: url('{{site.url}}/{{page.backgroundImage}}') no-repeat center center"></div>
                </div>

                <div class="row">
                    <div class="container-fluid">
                        <h1 class="text-center color-white">{{page.name}}</h1>

                        <div class="row gutter-top">
                            <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">
                                <a href="{{site.url}}/work/" class="btn btn-block btn-lg color-white link-hover"><i class="fa fa-chevron-left"></i> More Work</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-8 gutter-bottom">
                        <img class="img-responsive" src="{{site.url}}/{{page.topLeftImage}}" alt="Bearcast Media on various devices.">
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <h2>Too Long Didn't Read</h2>

                        <ul class="list-unstyled project-details">
                          {% for item in page.tldr %}
                            <li>{{ item | markdownify | remove: '<p>' | remove: '</p>' }}</li>
                          {% endfor %}
                        </ul>

                        <a href="{{page.projectLink}}" target="_blank" class="btn btn-block btn-primary btn-lg gutter-top"><i class="material-icons">open_in_new</i> Visit Site</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-8">
                        <h2>Project Details</h2>
                        {{ content }}
                    </div>
                    <div class="col-sm-6 col-md-4">
                        {% if page.hasDemoForm != nil %}
                        <h3 class="h2 text-left">Demo*</h3>
                        <form class="bootstrap" novalidate="novalidate">
                            <div class="row">
                                <div class="col-sm-6 gutter-bottom">
                                    <input class=" btn-block" type="text" required>
                                    <label class="valid" for="input-name"><span>First Name</span></label>
                                </div>

                                <div class="col-sm-6 gutter-bottom">
                                    <input class=" btn-block" type="text" required>
                                    <label class="valid" for="input-name"><span>Last Name</span></label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="container-fluid">
                                    <div class="gutter-bottom">
                                        <input class=" btn-block" type="email" required>
                                        <label class="valid" for="input-name"><span>Email</span></label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="container-fluid">
                                    <textarea rows="5" required></textarea>
                                    <label class="valid" for="input-name"><span>Your Message</span></label>
                                </div>
                            </div>

                            <div class="row gutter-top">
                                <div class="col-sm-6">
                                    <button class="btn-primary btn btn-block btn-lg">Send</button>
                                </div>
                                <div class="col-sm-6 hidden-xs">
                                    <button class="btn-secondary btn btn-block btn-lg">Clear</button>
                                </div>
                            </div>
                        </form>
                        {% else %}
                            <img class="img-responsive" src="{{site.url}}/{{page.bottomRightImage}}" alt="Bearcast Media as saved on an iPhone homescreen.">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% include cta-bar.html %}

{% include footer.html %}
